*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor2);
}

:root{

    --cor1:#ef641f;
    --cor2:#c0dece;
    --cor3:#b7ab73;
}

.container-fluid{
    padding: 0;
    margin: 0;
}
.container-logo{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--cor1);
    margin-bottom: 15px;
}

.img-logo{
    width: 150px;
    height: 130px;
}
.titulo{
    text-align: center;
}
.subtitulo{
    text-align: left;
}
#form-login{
    padding: 5%; 
    background: var(--cor3);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19); 
    border-radius: 15px;
}

#form-login .form-group{
    padding-bottom: 10px;
    text-align: center;
}

#btn-login{
    margin-top: 15px;
    border: 1px solid var(--cor2);
    width: 200px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}