<!DOCTYPE html>
<html layout:decorate="~{template.html}">

<body>
<div layout:fragment="conteudo">
    <!-- ##### Blog Wrapper Area Start ##### -->
    <div class="single-blog-wrapper">

        <!-- Single Blog Post Thumb -->
        <div class="single-blog-post-thumb">
            <img th:src="@{/images/bg2.jpg}" alt="" id="bgprincipal">
        </div>

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="regular-page-content-wrapper section-padding-80">
                        <div class="regular-page-text">
                            <h2>Cadastre-se agora</h2>
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="mb-2">
                                        <img th:src="@{/images/cadastro.jpg}" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12"
                                     style="padding: 5%; background: #a7a7a700; box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19); border-radius: 15px;">

                                     <form th:action="@{/login}" method="POST">
                                        <div class="form-row">
                                            <div class="form-group col-lg-6 col-md-12">
                                                <label for="nome">Nome</label>
                                                <div>
                                                    <input type="text" name="nome" class="form-control"
                                                           th:classappend="${#fields.hasErrors('usuario.nome')}? is-invalid"
                                                           id="nome" th:field="${usuario.nome}">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('usuario.nome')}"
                                                         th:errors="${usuario.nome}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-6 col-md-12">
                                                <label for="sobrenome">Sobrenome</label>
                                                <div>
                                                    <input type="text" name="sobrenome" class="form-control"
                                                           th:classappend="${#fields.hasErrors('usuario.sobrenome')}? is-invalid"
                                                           id="sobrenome" th:field="${usuario.sobrenome}">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('usuario.sobrenome')}"
                                                         th:errors="${usuario.sobrenome}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-lg-6 col-md-12">
                                                <label for="dataNascimento">Data de Nascimento</label>
                                                <div>
                                                    <input type="date" name="dataNascimento" class="form-control"
                                                           th:classappend="${#fields.hasErrors('usuario.dataNascimento')}? is-invalid"
                                                           id="dataNascimento" th:field="${usuario.dataNascimento}">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('usuario.dataNascimento')}"
                                                         th:errors="${usuario.dataNascimento}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-6 col-md-12">
                                                <label for="sexo">Gênero</label>
                                                <div>
                                                    <select name="sexo" id="sexo" class="form-control">
                                                        <option value="0">Selecione o Gênero</option>
                                                        <option value="1">Masculino</option>
                                                        <option value="2">Feminino</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                       <div class="form-row">
                                            <div class="form-group col-lg-6 col-md-12">
                                                <label for="CPF">CPF</label>
                                                <div>
                                                    <input type="text" name="CPF" class="form-control"
                                                           th:classappend="${#fields.hasErrors('usuario.CPF')}? is-invalid"
                                                           id="CPF" th:field="${usuario.CPF}">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('usuario.CPF')}"
                                                         th:errors="${usuario.CPF}">
                                                    </div>
                                                </div>
                                            </div>
                                           <div class="form-group col-lg-6 col-md-12">
                                                <label for="telefone">Telefone</label>
                                                <div>
                                                    <input type="text" name="telefone" class="form-control"
                                                           th:classappend="${#fields.hasErrors('usuario.telefone')}? is-invalid"
                                                           id="telefone" th:field="${usuario.telefone}">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('usuario.telefone')}"
                                                         th:errors="${usuario.telefone}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                          <div class="form-row">
                                            <div class="form-group col-lg-6 col-md-12">
                                                <label for="email">E-mail</label>
                                                <div>
                                                    <input type="text" name="email" class="form-control"
                                                           th:classappend="${#fields.hasErrors('usuario.email')}? is-invalid"
                                                           id="email" th:field="${usuario.email}">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('usuario.email')}"
                                                         th:errors="${usuario.email}">
                                                    </div>
                                                </div>
                                            </div>

                                             <div class="form-group col-lg-6 col-md-12">
                                                <label for="cemail">Confirme e-mail</label>
                                                <div>
                                                    <input type="text" class="form-control"
                                                           th:field="${usuario.cemail}" id="cemail">
                                                    <div style='display: none;margin-top: .25rem; font-size: 80%; color: #dc3545;' id="erroemail">
                                                        Confirmação de email não bate!
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                         <div class="form-row">
                                            <div class="form-group col-lg-6 col-md-12">
                                                <label for="senha">Senha</label>
                                                <div>
                                                    <input type="password" name="senha" class="form-control"
                                                           th:classappend="${#fields.hasErrors('usuario.hashSenha')}? is-invalid"
                                                           id="senha" th:field="${usuario.hashSenha}">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('usuario.hashSenha')}"
                                                         th:errors="${usuario.hashSenha}">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group col-lg-6 col-md-12">
                                                <label for="csenha">Confirme senha</label>
                                                <div>
                                                    <input type="password" name="csenha" class="form-control" id="csenha" th:field="${usuario.csenha}">
                                                    <div style='display: none;margin-top: .25rem; font-size: 80%; color: #dc3545;' id="errosenha">
                                                        Confirmação de senha não bate!
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <input type="submit" class="btn essence-btn" value="Cadastrar">
                                            </div>
                                        </div> 
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>

</html>
<script>
    $("form").on("submit", function(event){
        var email = $("#email").val();
        var cemail = $("#cemail").val();
        var senha = $("#senha").val();
        var csenha = $("#csenha").val();
        var erro = false;

        if(email != cemail && email != "") {
            $("#erroemail").show();
            $("#cemail").addClass("is-invalid");
            erro = true;
        }

        if(senha != csenha && senha != "") {
            $("#errosenha").show();
            $("#csenha").addClass("is-invalid");
            erro = true;
        }

        if (erro == true) {
            return false;
        }

        $("#erroemail").hide();
        $("#errosenha").hide();
        $("#cemail").removeClass("is-invalid");
        $("#csenha").removeClass("is-invalid");
        return true;

    });
</script>