<!DOCTYPE html>
<html >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
<body>  

    <header>
        <div class="container-fluid">
            <div class="container-logo">
                <a href="/Index">
                    <img class="img-logo"src="/Img/logo.png" alt="logo">
                </a>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="regular-page-content-wrapper section-padding-80">
                    <div class="regular-page-text">
                        <div class="row">
                            <div id="form-login" class="col-md-12">
                                <h3 class="titulo">Acesse com sua Conta</h3>
                                <form th:action="@{/login}" method="post" >
                                    <div class="form-group">
                                        <h4 class="subtitulo">E-mail</h4>
                                        <input type="text"  name="email" class="form-control" placeholder="Seu e-mail" value="">
                                    </div>
                                    <div class="form-group">
                                        <h4 class="subtitulo">Senha</h4>
                                        <input type="password" name="senha" class="form-control" placeholder="Sua senha" value="">
                                    </div>
                                    <div class="form-group">
                                        <input id="btn-login"   type="submit" class="btn essence-btn" value="Login">
                                    </div>
                                    <div class="form-group">
                                        <a th:href="@{/Cadastro}" class="ForgetPwd">Novo? Cadastre-se agora</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>